@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Nunito');
html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #2B3436;
}

.maintenanceIcon {
  position: relative;
  margin-top: 165px;
  height: 115px;
}

body h1 {
  position: relative;
  color: white;
  font-size: 40px;
  font-weight: 900;
  font-family: "Lato";
}

body p {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: "Lato";
}

.footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 6px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.footer-right i {
  color: white;
}

.footer-right a:hover {
  background-color: white;
}

.footer-right a:hover, i {
  color: #2B3436;
}

#copyright {
  color: #8f9296;
  margin: 0;
  text-decoration: none;
  margin-top: 20px;
  font: 14px "Lato";
  font-weight: 300;
}
